*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hidde{
    display: none;
}

.tabuleiro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#000 url(Images/stars.png) repeat top center;
    z-index:0;
}

.info{
    background-color: rgba(31,31,31,0.8);
    padding: 20px;
    margin-right: 200px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(255, 231, 125);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.painel2{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    background-color: rgba(31,31,31,0.4);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(255, 231, 125);
}

.estatistica{
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 4%;
    display: flex;
    margin-top: 50px;
    width:900px;
    height: 90px;
    background-color: rgba(31,31,31,0.4);
    box-shadow: 0px 0px 20px rgb(255, 231, 125);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}

.estatisticaPecas{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-right: 0.5px solid white;
  height: 90px; 
  width: 14%;
}

.next{
    display: flex;
    justify-content: center;
    align-items: center;
}

.music{
    display: none;
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.stars,.clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.clouds{
    background:transparent url(Images/clouds.png) repeat top center;
    opacity: .25;
    animation:move-clouds-back 200s linear infinite;
}

.jogar{
    position:absolute;
    top:6% ;
    left:47.55%;
    background-color: rgba(205, 202, 29, 0.897);
    box-shadow: 0px 0px 20px rgb(255, 231, 125);
    color: #fff;
    border:none;
    cursor: pointer;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    transition: 400ms ease;
    font-size: 17px;
    font-weight: bolder;
}

.jogar:hover{
  transform: scale(1.1);
}

.Game{
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.infoStats{
  border-radius: 7px;
  display:none;
  color: white;
  box-shadow: 0px 0px 20px rgb(255, 231, 125);
  border: 0.5px solid white;
  background-color: rgba(31,31,31,0.8);
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height: 500px;
  width: 900px;
}

.gameOverr{
  position:absolute;
  top:29%;
}

.iniciaiss{
  position:absolute;
  bottom:45%;
}

.iniciais{
  position:absolute;
  bottom:40%;
}

.scoree{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.scoreTitle{
  margin-bottom: 50px;
}

.scoreee{
  margin-bottom: 20px;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank{
  border: 2px solid white;
  color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 20px rgb(255, 231, 125);
  background-color: rgba(31,31,31,0.8);
  height: 500px;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pontuacoes{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p{
  padding-bottom: 60px;
}

.nomes{
  width:60px;
  height: 20px;
}

.posicoes{
  display: flex;
}

@media (max-width: 1080px){
  .infoStats{
    border-radius: 7px;
    display:none;
    color: white;
    box-shadow: 0px 0px 20px rgb(255, 231, 125);
    border: 0.5px solid white;
    background-color: rgba(31,31,31,0.8);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: 500px;
    width: 900px;
  }
}

@media (max-width: 1756px){
  .infoStats{
    width: 600px;
  }
  .rank{
    width: 600px;
  }
}

@media (max-width: 1430px){
  .painel2{
    margin-left: 100px;
  }
  .info{
    margin-right: 100px;
  }
}

@media (max-height: 870px){
  .estatistica{
    height: 60px;
  }
  .estatisticaPecas{
    border-right: none;
  }
  .iniciaiss{
    bottom: 40%;
  }
  .iniciais{
    bottom: 30%;
  }
  .gameOverr{
    top: 16%;
  }
}

@media (max-height: 740px){
  .estatistica{
    bottom: 1%;
  }
}